{{define "meta"}}{{end}}
{{define "content"}}
    <h1>Hello, {{.Name}}</h1>
    <hr>
    <p>The gibbet hails with yellow fever, haul the seychelles until it hobbles.</p>
    <p>Scabbard of a stormy desolation, view the riddle!</p>
{{end}}
{{template "base" .}}
